@font-face {
    font-family: CustomFont;
    src: url('/assets/fonts/Druk-Medium-Trial.otf');
}
:root{
    --bg: #F7F7F7;
    --baseFont: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding:0;
}

html, body{
    background: var(--bg);
    font-family: var(--baseFont);
    box-sizing: border-box;
}

#wrapper{
    width: 100%;
    height: 100vh;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

header{
    height: 100px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

nav .logo{
    /* max-width: 20%;
    width: 300px; */
    /* background-color: red; */
}

nav .logo a{
    display: flex;
    align-items: center;
}

nav .logo img{
    width: 250px;
}

.main-menu{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.main-menu a{
    color: #2D2D33;
    font-family: var(--baseFont);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.main-menu a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #2D2D33;
    left: 50%;
    bottom: -2px;
    transition: .5s;
    transform: translateX(-50%);
}

.main-menu a:hover{
    color: #3f3d56d8;
}

.main-menu a:hover::after{
    width: 100%;
}

.nav-right{
    /* max-width: 20%;
    width: 300px; */
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.nav-right button{
    border: none;
    background: transparent;
    cursor: pointer;
}

.nav-right a{
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 3px;
    border: 1px solid #2D2D33;
    background: #3F3D56;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .5s;
}

.nav-right a:hover{
    background-color: transparent;
    color: #3F3D56;
}

/* Hero Section */

.heroMain{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: calc(100vh - 100px);
}

.hLeft{
    width: 50%;
    height: calc(100vh - 50px);
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.hContent h1{
    color: #3F3D56;
    font-family: CustomFont;
    font-size: 10vw;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
}

.animateHeading{
    display: inline-block;
    border-radius: 50px;
    border: 3px solid #3F3D56;
    background: #D9D9D9;
    padding: 20px 40px;
    margin-top: 50px;
}

.animateHeading h2{
    color: #3F3D56;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px; /* 125% */
    text-transform: uppercase;
}

.hRight{
    /* background: red; */
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentBox_front{
    width: 480px;
    height: 460px;
    background: white;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.04);
    position: absolute;
}

.contentBox_back{
    position: absolute;
    width: 480px;
    height: 460px;
    background: #FFF;
    transform: rotate(-7.653deg)
}